/* Main Container (EVERYTHING) */
.main-container {
align-content: center;
align-items: center;
max-width: 1300px;
margin: 0 auto;
width:100%;

}


/* PROFILE CONTAINER  */

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    border:2px solid;
    border-radius:5px;
    
}

.profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

}
.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;

}

.profile-information {
    text-align: right;
    
}

/* Objective  Text */

.objective {
    width: 100%;
    text-align: center;
    padding: 10px;
    
}


/* Work History/ Education history / Skills  */

.qualification-container{
  
    display: flex;
    border: 2px solid;
    border-radius: 5px;
    width: 100%;
  
}

.info-section {
    flex: 1;
    min-width: 300px;
    padding:10px;
}


 /* SKILL PROGRESS BAR */

.skills-section{
   max-width:300px;
    min-width: 150px;
    width: 100%;
    padding:10px;
}
 .skill { 
    background-color: rgb(91, 146, 218); 
    color: white; 
    padding: 5px; 
    font-size: 20px; 
    border-radius: 10px; 
    height:20px;
  
} 

.progress-bar {
 
    background-color: rgb(192, 192, 192); 
    border-radius: 10px; 
      margin-top: 5px;
} 

.html { 
    width: 30%; 
} 

.css { 
    width: 20%; 
} 

.javascript{
    width: 10%; 
}


